﻿@model VideoChat.Models.KeyWord

@{
    ViewBag.Title = "Delete";
}

<div class="mpanel">

    <h3>Are you sure you want to delete this?</h3>
   
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class = "btn btn-danger"/>
            |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-warning" })
        </p>
    }
</div>
